<%# Uploadify initialisation script %>
<% key = Rails.application.config.session_options[:key] -%>
<script type="text/javascript">
  $(document).ready(function(){
      $("form#new_upload input[type='submit']").remove();
      var upload_params = {
        '<%= key %>' : '<%= cookies[key] %>',
        'authenticity_token' : '<%= form_authenticity_token %>',
        '_http_accept': 'application/javascript',
        <%= "'access_key': '#{@share.access_key}'" unless admin_signed_in? %>
        <%= "'auth_token': '#{current_admin.authentication_token}'" if admin_signed_in? %>
      };
      $('input#upload_file').uploadify({
        'uploader'     :'/assets/uploadify.swf',
        'script'       :$('input#upload_file').parents('form').attr('action') + ".js",
        'fileDataName' :'upload[file]',
        'fileExt'      :'*.png;*.jpg;*.gif',
        'cancelImg'    :'/assets/cancel.png',
        'multi'        :true,
        'scriptData'   :upload_params,
        'auto'         :true,
        'onComplete'   :function(e, id, obj, response, data) {
          $('#uploads').append(response);
        }
      });
  });
</script>
<%# and the actual upload form %>
<%= form_for [@share, @upload], :class => "form-stacked" do |f| %>
  <%= render 'layouts/errors', :object => @upload %>
  <div class="clearfix">
    <div class="input">
      <%= f.file_field :file %>
    </div>
  </div>
  <%= f.submit "Upload", :class => "btn btn-primary" %>
<% end -%>
