<h1>
  <%= @share.title || "Share for #{@share.email}" %>
</h1>
<h4>
  Access URL
</h4>
<div class="access_key">
  <%= link_to share_path(@share, :access_key => @share.access_key), share_path(@share, :access_key => @share.access_key) %>
</div>
<% unless @share.description.blank? -%>
  <h4>
    Description
  </h4>
  <div class="description">
    <%= @share.description %>
  </div>
<% end -%>

<%# output the uploads %>
<% unless @share.uploads.empty? -%>
  <h4>
    Uploads (<span id="upload_count"><%= @share.uploads.count %></span>) 
  </h4>
  <ul id="uploads">
		<%= render :partial => 'uploads/upload', :collection => @share.uploads, :locals => { :share => @share } %>
  </ul>
<% end -%>

<%# Uploadify initialisation script %>
<% key = Rails.application.config.session_options[:key] -%>
<script type="text/javascript">
  $(document).ready(function(){
      var upload_params = {
				<%# not strictly necessary at the moment, but will be useful for authenticated sessions later  %>
        '<%= key %>' : '<%= cookies[key] %>',
        'authenticity_token' : '<%= form_authenticity_token %>',
        '_http_accept': 'application/javascript',
        <%= "'access_key': '#{@share.access_key}'" unless admin_signed_in? %>
        <%= "'auth_token': '#{current_admin.authentication_token}'" if admin_signed_in? %>
      };
      $('input#upload_file').uploadify({
        'uploader'     :'/assets/uploadify.swf',
        'script'       :$('input#upload_file').parents('form').attr('action') + ".js",
        'fileDataName' :'upload[file]',
        'fileExt'      :'*.png;*.jpg;*.gif',
        'cancelImg'    :'/assets/cancel.png',
        'multi'        :true,
        'scriptData'   :upload_params,
        'auto'         :true,
        'onComplete'   :function(e, id, obj, response, data) {
          $('#uploads').append(response);
        }
      });
  });
</script>
<%# and the actual upload form %>
<%= form_for [@share, @upload], :class => "form-stacked" do |f| %>
  <%= render 'layouts/errors', :object => @upload %>
  <div class="clearfix">
    <div class="input">
      <%= f.file_field :file %>
    </div>
  </div>
<% end -%>

<% if admin_signed_in? -%>
  <div class="form-stacked">
    <div class="actions">
      <%= link_to "Edit", edit_share_path(@share), :class => "btn" %>
      <%= link_to "Delete", @share, :method => "delete", :class => "btn danger" %>
    </div>
  </div>
<% end -%>
