<!DOCTYPE html>
<html>
<head>
  <title>Glovebox</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <style>
    div.navbar div.container a.brand { color: #ae1323; }
    div.container.first { margin-top:50px; }
  </style>
</head>
<body>

  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand">Glovebox</a>
        <ul class="nav">
          <li>
            <%= link_to "New Share", new_share_path if admin_signed_in? %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container first">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, :class => "alert-message #{key}") %>
    <% end %>

    <%= yield %>
  </div>


</body>
</html>
