<!DOCTYPE html>
<html>
<head>
  <title>Glovebox</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" />
  <style>
    div.topbar div.container a.brand { color: #ae1323; }
    div.container.first { margin-top:50px; }
  </style>
</head>
<body>

  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        <a class="brand">Glovebox</a>
        <ul class="nav">
          <li>
            <%= link_to "New Share", new_share_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container first">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, :class => "alert-message #{key}") %>
    <% end %>

    <%= yield %>
  </div>


</body>
</html>
